:root {
  --font-color: #40513b;
  --navbar-color: #609966;
  --second-color: #9dc08b;
  --main-color: #edf1d6;
}

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  width: 75%;
  height: 10%;
  display: flex;
  flex-direction: row;

  /* background-color: var(--navbar-color); */
  color: var(--main-color);
  font-size: larger;
  position: fixed;
  top: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: rgba(255, 255, 255, 0.2);
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.37);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.navbar-leading {
  width: 50%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 10%;
  color: white;
}

.navbar-menu {
  width: 50%;
}

.list-menu {
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-menu-list {
  color: white;
  text-decoration: none;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.main-header {
  text-align: center;
  color: white;
  
}
.main-header > h2 {
  margin-top: 20pt;
}

.main-social {
  margin-top: 20px;
  width: 20rem;
  height: 3rem;
  font-size: 2rem;
}
.main-social > ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  list-style-type: none;
  justify-content: space-evenly;
}

a{
  color: white;
}